<div class='panel panel-primary'>
    <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
    </div>
    <div class='panel-body' *ngIf='products && products.length'>
		<!-- Filter the Products   -->
		<div class='row'>
			<div class='col-md-2'>
				Filter by:
			</div>
			<div class='col-md-4'>
				<input type="text" [(ngModel)]='selectionFilter'>
				<!--<ul>
					<select>
						<option value="0">--Select--</option>
						<option *ngFor="let class of productClass"
								value= {{class.id}}>{{class.name | uppercase}}
						</option>
					</select>
				</ul>-->
			</div>
		</div>
	<!-- TODO //if I have time. Display the selection from the filter above -->
	<!-- <div class='row' > -->
        <!-- <div class='col-md-6'> -->
            <!-- <h3>Filtered by:</h3> -->
        <!-- </div> -->
    <!-- </div> -->
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | bikeClassFilter: selectionFilter '>
						<td>
							<img [src]='product.image.thumb'
								[title]='product.name | uppercase'
								class='productThumb'>
						</td>
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
						<td>{{product.class}}</td>
					</tr>                      
                </tbody>
            </table>
        </div>
    </div>
</div>