<div class='panel panel-primary'>
    <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
    </div>
    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
						<td>Image goes here</td>
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
						<td> class goes here</td>
					</tr>                      
                </tbody>
            </table>
        </div>
    </div>
</div>